.panel-ask .question {
  width: 850px;
  padding-right: 15px
}

.alert-fixed {
  position: fixed;
  z-index: 99999;
  top: 45px;
  right: 15px;
}

.phrase-hidden {
  opacity:0;
  position: absolute;
  top: -9999px; 
  left: -9999px;
}
